sentence-transformers>=3.0.0
faiss-cpu
datasets
fastapi
uvicorn[standard]
scikit-learn
google-cloud-firestore
pydantic
numpy>=1.23
tqdm
requests
pandas
joblib
google-generativeai>=0.8.3
pinecone>=3.0.0
firebase-admin
